<form (ngSubmit)="createTicket()">
  <label for="titel">Titel:</label>
  <input type="text" id="titel" [(ngModel)]="ticket.titel" name="titel" required />

  <label for="description">Beschreibung:</label>
  <textarea id="description" [(ngModel)]="ticket.description" name="description" required></textarea>

  <label for="level">Stufe:</label>
  <select id="level" [(ngModel)]="ticket.level" name="level" required>
    <option value="" disabled selected>Bitte wählen</option>
    <option value="1">Normal</option>
    <option value="2">Dringend</option>
    <option value="3">Kritisch</option>
  </select>

  <button type="submit">Ticket erstellen</button>
</form>
