<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card shadow-lg">
            <div class="card-header bg-primary text-white text-center">
              <h2>Anmelden als {{ role | titlecase }}</h2>
            </div>
            <div
            *ngIf="message"
            class="alert"
            [ngClass]="{
              'alert-success': messageType === 'success',
              'alert-danger': messageType === 'error',
              'alert-info': messageType === ''
            }"
            role="alert"
          >
            {{ message }}
            </div>  
              <div class="form-group mb-3">
                <label for="name">Name</label>
                <input
                  id="name"
                  class="form-control"
                  formControlName="name"
                  type="text"
                  placeholder="Ihr Name"
                />
              </div>
              <div class="form-group mb-4">
                <label for="email">E-Mail</label>
                <input
                  id="email"
                  class="form-control"
                  formControlName="email"
                  type="email"
                  placeholder="Ihre E-Mail"
                />
              </div>
              <button
                class="btn btn-primary btn-block px-4 py-2"
                type="submit"
                [disabled]="loginForm.invalid"
              >
                Anmelden
              </button>
            </div>
          </div>
        </div>
      </div>
      
  </form>
  