.badge {
  padding: 0.4em 0.6em;
  font-size: 0.875em;
}

/* Custom badge colors */
.badge-info {
  background-color: #17a2b8;
  color: white;
}

.badge-primary {
  background-color: #007bff;
  color: white;
}

.badge-warning {
  background-color: #ffc107;
  color: white;
}

.badge-danger {
  background-color: #dc3545;
  color: white;
}

.badge-success {
  background-color: #28a745;
  color: white;
}

.ticket-image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 1px solid #ccc; /* Optional, um das Bild hervorzuheben */
  padding: 5px; /* Optional */
}

/* Dark mode styles */
body {
  background-color: #121212;
  color: white;
}

.container {
  background-color: #1e1e1e; /* Dark background for container */
  padding: 20px;
  border-radius: 8px;
}

.nav-tabs {
  background-color: #333; /* Dark background for tabs */
  border: none;
}

.nav-link {
  color: white; /* Light text color */
  cursor: pointer;
}

.nav-link.active {
  background-color: #6200ea; /* Active tab highlight color */
  color: white;
}

.nav-link:hover {
  background-color: #444; /* Hover effect */
  color: white;
}

.badge {
  background-color: #6200ea; /* Default badge color */
}

.list-group-item {
  background-color: #2a2a2a; /* Dark background for list items */
  color: white; /* Light text color */
  border: none;
}

.list-group-item-action:hover {
  background-color: #3a3a3a; /* Hover effect */
}

.card {
  background-color: #333; /* Dark background for cards */
  color: white;
  border-radius: 8px;
}

.card-header {
  background-color: #6200ea; /* Purple background for card header */
  color: white;
}

.ticket-details {
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 8px;
}

.ticket-description {
  background-color: #333;
  color: white;
  border-radius: 8px;
}

.ticket-comments {
  background-color: #2a2a2a;
  color: white;
  padding: 10px;
  border-radius: 8px;
}

.add-comment textarea {
  background-color: #444;
  color: white;
  border: 1px solid #555;
}

.add-comment button {
  background-color: #6200ea;
  color: white;
}

.add-comment button:hover {
  background-color: #3700b3;
}

 /* Adjustments for buttons */
.btn-primary {
  background-color: #6200ea;
  border-color: #6200ea;
}

.btn-primary:hover {
  background-color: #3700b3;
  border-color: #3700b3;
}

.text-muted {
  color: white !important;
}
